html,
body,
input,
button {
  font-family: 'Silkscreen', sans-serif;
  border-radius: 0;
}
html,
body {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
}
button {
  cursor: pointer;
}
button.btn-disabled {
  cursor: default;
  background-color: gray;
  border-style: inset;
}
